#hand-rankings{
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x:hidden;
    overflow-y: scroll;
    height:75vh;
}
.ranking{
    height:20vh;
    width:50%;
    border:1px solid white;
    background-color: black;
    color:white;
    font-size:12vh;
    text-align:center;
}
.rankingContainer{
    width:100%;
    display:flex;
}
.cardContainer{
    width:50%;
    background-color: grey;
    display:flex;
    justify-content:space-evenly;
}
#subtitle{
    color:red;
    width:100%;
    text-align:center;
    height:min-content;
    background-color: black;
    box-sizing: border-box;
}
.instructionCard{
    height:20vh;
}