<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/CSS/game.css">
        <link rel="stylesheet" href="/static/CSS/poker.css">
        <script src="/static/JS/poker.js"></script>
    </head>
    <body>
        <button id="fold" onclick="fold()">Fold</button>
        <button id="raise" onclick="raise()">Raise</button>
        <button id="check" onclick="check()">Check</button>
        <button id="match" onclick="match()">Match</button>
        <div class="cpu hand" id="cpu1">cpu1</div>
        <div class="cpu hand" id="cpu2">cpu2</div>
        <div class="cpu hand" id="cpu3">cpu3</div>
        <div class="player hand" id="player">player</div>

        <div class="chips" id="cpu1Chips"></div>
        <div class="chips" id="cpu2Chips"></div>
        <div class="chips" id="cpu3Chips"></div>
        <div class="chips" id="playerChips"></div>

        <div id="pokerTable">
            <button id="playButton" onclick="setupGame()">Play</button>
            <img id="cardStack" src="/static/img/BACK.png">
            <div id="cardsOnTheTable"></div>

            <div class="bet" id="cpu1Bet"></div>
            <div class="bet" id="cpu2Bet"></div>
            <div class="bet" id="cpu3Bet"></div>
            <div class="bet" id="playerBet"></div>

            <div id="bank">BANK : <span id="bankBalance">0</span></div>
        </div>
    </body>
</html>