<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/CSS/home.css"> <!--General CSS file, used in every html-->
        <link rel="stylesheet" href="/static/CSS/poker.css"> <!--CSS specific only to home.html-->
        <title>Poker</title>
    </head>
    <body>
        <div id="title-holder">
            <h1>Poker</h1>
        </div>
        <div id="buttons-holder">
            <div class="button">Play</div>
            <div class="button">Leaderboards</div>
            <div class="button">How to Play</div>
        </div>
    </body>
</html>