<!DOCTYPE html>
<html>
    <head>
        <title>Instructions</title>
        <link rel="stylesheet" href="/static/CSS/poker.css">
        <link rel="stylesheet" href="/static/CSS/instructions.css">
    </head>
    <body>
        <div id="title-holder">
            <h1>Instructions</h1>
            <button id="homeButton">Home</button>
        </div>
        <div id="hand-rankings">
            <h3 id="subtitle">Hand Rankings</h3>
            <div class="ranking">Royal Flush</div>
            <div class="ranking">Straight Flush</div>
            <div class="ranking">4 Of A Kind</div>
            <div class="ranking">Full House</div>
            <div class="ranking">Flush</div>
            <div class="ranking">Straight</div>
            <div class="ranking">3 Of A Kind</div>
            <div class="ranking">Two Pair</div>
            <div class="ranking">Pair</div>
            <div class="ranking">High Card</div>
        </div>
        <script src="/static/JS/menus.js"></script>
    </body>
</html>