<!DOCTYPE html>
<html>
    <head>
        <title>Instructions</title>
        <link rel="stylesheet" href="/static/CSS/poker.css">
        <link rel="stylesheet" href="/static/CSS/instructions.css">
    </head>
    <body>
        <div id="title-holder">
            <h1>Instructions</h1>
            <button id="homeButton">Home</button>
        </div>
        <div id="hand-rankings">
            <h3 id="subtitle">Hand Rankings</h3>
            <div class="rankingContainer">
                <div class="ranking">Royal Flush</div>
                <div class="cardContainer">
                    <img class="instructionCard" src="/static/img/AS.png">
                    <img class="instructionCard" src="/static/img/KS.png">
                    <img class="instructionCard" src="/static/img/QS.png">
                    <img class="instructionCard" src="/static/img/JS.png">
                    <img class="instructionCard" src="/static/img/TS.png">
                </div>
            </div>
            <div class="rankingContainer">
                <div class="ranking">Straight Flush</div>
                <div class="cardContainer">
                    <img class="instructionCard" src="/static/img/TS.png">
                    <img class="instructionCard" src="/static/img/9S.png">
                    <img class="instructionCard" src="/static/img/8S.png">
                    <img class="instructionCard" src="/static/img/7S.png">
                    <img class="instructionCard" src="/static/img/6S.png">
                </div>
            </div>
            <div class="rankingContainer">
                <div class="ranking">4 Of A Kind</div>
                <div class="cardContainer">
                    <img class="instructionCard" src="/static/img/7S.png">
                    <img class="instructionCard" src="/static/img/7C.png">
                    <img class="instructionCard" src="/static/img/7D.png">
                    <img class="instructionCard" src="/static/img/7H.png">
                    <img class="instructionCard" src="/static/img/4D.png">
                </div>
            </div>
            <div class="rankingContainer">
                <div class="ranking">Full House</div>
                <div class="cardContainer">
                    <img class="instructionCard" src="/static/img/8S.png">
                    <img class="instructionCard" src="/static/img/8D.png">
                    <img class="instructionCard" src="/static/img/8H.png">
                    <img class="instructionCard" src="/static/img/6S.png">
                    <img class="instructionCard" src="/static/img/6D.png">
                </div>
            </div>
            <div class="rankingContainer">
                <div class="ranking">Flush</div>
                <div class="cardContainer">
                    <img class="instructionCard" src="/static/img/3H.png">
                    <img class="instructionCard" src="/static/img/7H.png">
                    <img class="instructionCard" src="/static/img/9H.png">
                    <img class="instructionCard" src="/static/img/KH.png">
                    <img class="instructionCard" src="/static/img/AH.png">
                </div>
            </div>
            <div class="rankingContainer">
                <div class="ranking">Straight</div>
                <div class="cardContainer">
                    <img class="instructionCard" src="/static/img/TS.png">
                    <img class="instructionCard" src="/static/img/9D.png">
                    <img class="instructionCard" src="/static/img/8C.png">
                    <img class="instructionCard" src="/static/img/7D.png">
                    <img class="instructionCard" src="/static/img/6S.png">
                </div>
            </div>
            <div class="rankingContainer">
                <div class="ranking">3 Of A Kind</div>
                <div class="cardContainer">
                    <img class="instructionCard" src="/static/img/TS.png">
                    <img class="instructionCard" src="/static/img/TD.png">
                    <img class="instructionCard" src="/static/img/TH.png">
                    <img class="instructionCard" src="/static/img/4S.png">
                    <img class="instructionCard" src="/static/img/2D.png">
                </div>
            </div>
            <div class="rankingContainer">
                <div class="ranking">Two Pair</div>
                <div class="cardContainer">
                    <img class="instructionCard" src="/static/img/TS.png">
                    <img class="instructionCard" src="/static/img/TH.png">
                    <img class="instructionCard" src="/static/img/5S.png">
                    <img class="instructionCard" src="/static/img/5D.png">
                    <img class="instructionCard" src="/static/img/3C.png">
                </div>
            </div>
            <div class="rankingContainer">
                <div class="ranking">Pair</div>
                <div class="cardContainer">
                    <img class="instructionCard" src="/static/img/7D.png">
                    <img class="instructionCard" src="/static/img/7C.png">
                    <img class="instructionCard" src="/static/img/6S.png">
                    <img class="instructionCard" src="/static/img/4D.png">
                    <img class="instructionCard" src="/static/img/2H.png">
                </div>
            </div>
            <div class="rankingContainer">
                <div class="ranking">High Card</div>
                <div class="cardContainer">
                    <img class="instructionCard" src="/static/img/TS.png">
                    <img class="instructionCard" src="/static/img/7D.png">
                    <img class="instructionCard" src="/static/img/5C.png">
                    <img class="instructionCard" src="/static/img/4H.png">
                    <img class="instructionCard" src="/static/img/2S.png">
                </div>
            </div>
        </div>
        <script src="/static/JS/menus.js"></script>
    </body>
</html>